		header{
			width: 100%;
			height: 0.88rem;
			background: red;
			position: relative;
		}
		body{
			background: #eee;
		}
		.login{
			width:1.25rem;
			height: 0.6rem;
			font-size: 0.6rem;
			text-align: center;
			line-height: 0.6rem;
			position: absolute;
			left: 0;right: 0;top: 0;bottom: 0;
			margin:auto;
			color: #FFF
		}
			form{
				box-sizing: border-box;
				/*width: 100%;*/
				height: 30%;
				/*border: 0.05rem solid red;*/
				position: relative;
				margin-top: 0.3rem;
				margin-left: 0.16rem;
				margin-right: 0.16rem;
			}
			.userbox,.passbox{
				width: 100%;
				height:1rem;
				background: #fff;
				font-size: 0.32rem;
				line-height: 1rem;
				position: relative;
			}
			.user,.pass{
				width: 80%;
				height: 100%;
				position: absolute;
				top: 0;bottom: 0;right: 0;
				margin: auto 0;
				margin-right: 0;
				border-bottom: 0.05rem solid #ccc;
			}
			.pass{
				border: 0;
			}
			.user input,.pass input{
				width: 100%;
				height: 0.5rem;
				font-size: 0.3rem;
				margin: auto 0;
				border:none;
				outline: none;
			}
			.btnbox{
				width: 100%;
				height: 1rem;
				margin-top: 0.3rem;
				/*background: #FFFDEF;*/
				font-size: 0.3rem;
			}
			.btnbox input{
				width: 75%;
				height: 100%;
				border: 0;
				color: #ccc;
				background: #FFF;
				font-size: 0.3rem;
			}
			.btnbox a{
				text-decoration: none;
				color: #969896;
			}
			.loginlist{
				/*width: 100%;*/
				font-size: 0.16rem;
				margin-left: 0.16rem;
				margin-top: 2rem;
			}
			.loginways{
				margin-left: 0.16rem;
				margin-right: 0.16rem;
				height: 2rem;
				background:#fff;
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
			.loginways a{
				text-decoration: none;
				list-style: none;
				font-size: 1.0rem;
				/*color: #000000;*/
			}
			.loginways a:nth-child(1){
				color: #3CAF35;
			}
			.loginways a:nth-child(2){
				color: #FF8400;
			}
			.loginways a:nth-child(3){
				color: #1296DB;
			}
			.loginways a span{
				display: block;
				text-align: center;
				line-height: 0.5rem;
				color: #ccc;
				font-size:0.16rem;
			}